.test-label {
    color: #01a0ec;
    padding: 10dpi;
}

.cancel-btn {
    margin: 4dpi 8dpi 8dpi 4dpi;
    padding: 4dpi 8dpi 8dpi 4dpi;
    background-color: lighten(#ffea00, 30%);
}

.selected-opt-bk-color {
    background-color: #7cc17c;
}
