@import '../../../node_modules/nativescript-theme-core/scss/sky';
@import '../../app-variables';

/*.page-content {
    .page-placeholder {
        color: $page-icon-color;
        //font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

$order-odd-bg-color: #f2f2f2;
$order-even-bg-color: #d1e1f9;

.form {

    .input {
        padding: 4 4 4 4;
        background-color: transparent;

        &.input-border {
            border-width: 1;
            border-color: $grey;
            border-radius: 2;
            padding: 5;
        }

        &.input-rounded {
            border-width: 1;
            border-color: $grey;
            border-radius: 5;
            padding: 5;
        }

        &[isEnabled='false'] {
            background-color: lighten($grey, 10%);
        }
    }

    .input-field {
        margin: 8;
        border-radius: 10dpi;
        border-color: $grey;
        &[isEnabled='false'] {
            background-color: lighten($grey, 10%);
        }
    }
}

.kr-input {
    border-radius: 10dpi;
    border-color: $grey;
    border-width: 1dpi;
    &[isEnabled='false'] {
        background-color: lighten($grey, 10%);
    }
    font-size: 10dpi;
    padding: 0dpi;
}

.btn-rounded-sm {
    color: $sky;
    border-color: $sky;
    font-size: 15dpi;
    padding: 5dpi;
}*/


