<!--<GridLayout rows="auto" columns="*, 3*" backgroundColor="#a52a2a" verticalAlignment="center"
            horizontalAlignment="stretch" borderColor="#7fffd4"
            borderRadius="10" borderWidth="4">

    <StackLayout col="1">
        <Label text="Wal-Mart - 2342332222"></Label>
        <Label text="Order Date: 5 Oct 2017"></Label>
        <Label text="Pickup Date: 15 Oct 2017"></Label>
        <Label text="City: salt lake city, UTAH"></Label>
        <Label text="City: salt lake city, UTAH"></Label>
        <Label text="City: salt lake city, UTAH"></Label>
        <Label text="City: salt lake city, UTAH"></Label>
        <Label text="City: salt lake city, UTAH"></Label>
        <Label text="City: salt lake city, UTAH"></Label>
        <Label text="City: salt lake city, UTAH"></Label>
    </StackLayout>

    <GridLayout col="0" rows="*, *" horizontalAlignment="stretch" verticalAlignment="center">
        <Image src="res://metal/metal" stretch="fill" row="0"></Image>
        <Label backgroundColor="#7fffd4" text="Ordered aksjhdflksajdfh askdjhf" color="black" row="1"
               horizontalAlignment="center" textWrap="true"></Label>
    </GridLayout>

</GridLayout>-->
<!--<GridLayout rows="*, *" backgroundColor="#faebd7" margin="15">
    <Image src="{{getIconSource('metal', 'metal')}}" row="0" margin="0" backgroundColor="black"></Image>
    <Label text="hello asdfg asdfg asdfg asdfg asdfg asdfg" backgroundColor="#a52a2a" row="1" color="black" textWrap="true"></Label>
</GridLayout>-->
<!--<StackLayout backgroundColor="#d2691e" horizontalAlignment="center" verticalAlignment="center">
    <GridLayout columns="*, 3*" rows="auto, auto, auto, auto, auto, auto">

        <Image src="res://metal/metal" stretch="fill" rowSpan="3" col="0" row="0"
               marginBottom="2" backgroundColor="#6495ed"></Image>

        <Label  backgroundColor="#bdb76b" rowSpan="3" col="0" row="3" marginTop="2" text="Status is Ordered"
               textWrap="true" stretch="fill"></Label>
        <StackLayout id="labelStackId" col="1" row="0" rowSpan="6" backgroundColor="#f5f5dc" padding="15">
            <Label text="wal-mart - 2374" textWrap="true" horizontalAlignment="center"
                   class="h2" style="text-decoration: underline;"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
            <Label text="Label 1" textWrap="true"></Label>
        </StackLayout>

    </GridLayout>
</StackLayout>-->
<StackLayout horizontalAlignment="center" verticalAlignment="center" padding="20" backgroundColor="#f5f5dc">
    <Button rowSpan="3" col="0" row="3" marginTop="20" borderRadius="10"
            textWrap="true" style="text-align: center; font-size: 20dpi"
            backgroundColor="#f0ffff"
            padding="25">
        <FormattedString>
            <Span text="&#xf046;&#x000a;" class="fa"></Span>
            <Span text="Pick up"></Span>
        </FormattedString>
    </Button>
</StackLayout>

<!--<GridLayout rows="auto, auto, auto, auto, auto, auto" columns="3*, *" backgroundColor="#6495ed">

    <Label text="Wal-Mart - 2342332222" row="0" col="0"></Label>
    <Label text="Order Date: 5 Oct 2017" row="1" col="0"></Label>
    <Label text="Pickup Date: 15 Oct 2017" row="2" col="0"></Label>
    <Label text="City: salt lake city, UTAH" row="3" col="0"></Label>
    <Label text="City: salt lake city, UTAH" row="4" col="0"></Label>
    <Label text="City: salt lake city, UTAH" row="5" col="0"></Label>

    <Image src="{{getIconSource('metal', 'metal')}}" row="0" col="1" rowSpan="3" margin="10"
           backgroundColor="black" stretch="fill"></Image>
    <Label text="hello  asdfg"
           backgroundColor="aqua" row="3" col="1" rowSpan="3" color="black"
           textWrap="true"></Label>

</GridLayout>-->


<!--<GridLayout col="0" rows="*, *">
        <Image src="{{getIconSource('metal', 'metal')}}" stretch="fill" row="0" height="50%"></Image>
        <Label backgroundColor="#7fffd4" text="Ordered aksjhdflksajdfh askdjhf"
               color="black" row="1"
               horizontalAlignment="center" textWrap="true"></Label>
    </GridLayout>-->
<!--<DockLayout>
    <Image verticalAlignment="center" dock="top" src="{{getIconSource('metal', 'metal')}}" stretch="fill" height="50%"></Image>
    <Label dock="bottom" backgroundColor="#008b8b" text="Ordered aksjhdflksajdfh askdjhf"
           color="black" verticalAlignment="center" horizontalAlignment="center" textWrap="true"></Label>
</DockLayout>-->

<!--<gridlayout rows="*, *" horizontalalignment="stretch">
    <image src="res://metal/metal" stretch="fill" row="0"></image>
    <label text="ordered lasjdhfkjsdf ajkshdfkjsd aksjhdflksajdfh askdjhf" color="#a52a2a" row="1"
           horizontalalignment="center" textwrap="true"></label>
</gridlayout>-->
<!--</gridlayout>-->
<!--<gridlayout rows="*" columns="25, 75">

    <gridlayout rows="auto" columns="1" col="1">
        <label text="wal-mart - 2342332222"></label>
        <label text="order date: 5 oct 2017"></label>
        <label text="pickup date: 15 oct 2017"></label>
        <label text="city: salt lake city, utah"></label>

    </gridlayout>

    <gridlayout col="0" rows="50, 50" columns="1">
        <image src="res://metal/metal" stretch="fill" row="0"></image>
        <label text="ordered"></label>
    </gridlayout>

</gridlayout>-->

<!--<gridlayout rows="auto" backgroundcolor="#a52a2a" verticalalignment="center"
            horizontalalignment="stretch" columns="*" bordercolor="#7fffd4"
            borderradius="10" borderwidth="4">
    <stacklayout>
        <label text="wal-mart - 2342332222"></label>
        <label text="order date: 5 oct 2017"></label>
        <label text="pickup date: 15 oct 2017"></label>
        <label text="city: salt lake city, utah"></label>
    </stacklayout>

</gridlayout>-->


<!--<stacklayout padding="10dpi">

    <gridlayout columns="auto, auto, *" rows="auto" horizontalalignment="center"
                verticalalignment="center" >
        <label text="filter on: " verticalalignment="center" col="0"></label>
        <button [text]="selectedfilterprop" (tap)="showfilterlistpicker($event)" col="1"
                class="btn btn-outline btn-rounded-sm"
                verticalalignment="center"></button>
        <textfield #filtertextfield hint="enter filter text"
                   text="" verticalalignment="center" col="2"
                   class="input input-rounded"
                   isenabled="{{selectedfilterprop !== emptyfilterprop}}"></textfield>
    </gridlayout>

</stacklayout>-->

<!--<listpicker [items]="filteronprops" selectedindex="0"
            (selectedindexchange)="filteritemchanged($event)"
            class="p-15"></listpicker>-->

